doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Dunia Blogger

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-dark.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(class="judulBesar")
        h1 Dunia Blogger
        img(src="Gambar/blog.jpg", width="500px")
        

      HEAD
      section
        
        h2 apa itu blog?
        h3 Blog merupakan singkatan dari web log adalah bentuk aplikasi web yang menyerupai tulisan-tulisan (yang dimuat sebagai posting) pada sebuah halaman web umum. Blog mempunyai fungsi yang sangat beragam,dari sebuah catatan harian, media publikasi dalam sebuah kampanye politik, sampai dengan program-program media dan perusahaan-perusahaan.
      section
        h2 Apa itu Blog?
        h3 Blog merupakan singkatan dari web log adalah bentuk aplikasi web yang menyerupai tulisan-tulisan (yang dimuat sebagai posting) pada sebuah halaman web umum.   
        h3 Blog mempunyai fungsi yang sangat beragam,dari sebuah catatan harian, media publikasi dalam sebuah kampanye politik, sampai dengan program-program media dan perusahaan-perusahaan.
        
      section
        h2 Apa itu Blogger ?
        h3 Setiap orang yang mempunyai blog dan pernah menulis di dalam media blog dapat disebut blogger.

      section
        h2 Apa keuntungan menjadi seorang Blogger ?
          
        ul
          li • Melatih Kreativitas
          li • Selalu up-to-date
          li • Mengetahui ilmu marketing
          li • Memiliki koneksi yang luas
          li • Berjiwa penelit
          li • Di kenal banyak orang
          li • Banyak Fans
          li • Disiplin
          li • Kaya

      section
        h2 Apakah Blogger Bisa Menjadi Profesi Utama ?
        h3 Bisa saja dilakukan, namun karna untuk mendapatkan keuntungan dari blog, harus dengan sering melakukan posting, hal itu menyebabkan 
        img(src="Gambar/blog3.jpg", width="200px")
      section
        h2 Syarat menjadi Blogger Fulltime
        ul
          li • Pastikan Keyakinan Anda
          li • Paham Resiko
          li • Restu Orang Sekitar
          li • Memahami Apa yang di kerjakan
          li • Reserve Found
          li • Memiliki Passive Income
          li • Alokasi Waktu kerja & Target Pencapain
          li • Berdoa
       
      section
        h2 Cara memilih tema blog yang cocok
        ul
          li •	Memilih Konten Orisinil Atau Copy Paste?
          li •	Memilih Blog Gado-Gado Atau Blog Niche Tertentu
          li •	Pilih Kata Kunci atau Pilih Label
          li •	Memilih Nama URL Homepage
          li •	Pakai Domain Sendiri Atau Gratisan?
          
      section(data-bespoke-state='emphatic')
        h2 Apa Itu SEO
                  
        h3 SEO atau kepanjangan dari (Search Engine Optimization) adalah suatu cara atau teknik untuk membuat situs atau blog kita berada pada halaman/posisi satu di mesin pencarian (search engine) seperti Google, Bing, dan Yahoo.    
      
      section
        img(src="Gambar/blog9.jpg", width="400px")
        h3 SEO ONPAGE adalah Teknik optimasi blog yang menitik beratkan SEO pada kemahiran seseorang dalam memposting sebuah artikel. Teknik seo on page sendiri terdiri dari pemakaian JS & CSS dalam sebuah blog, kecepatan loding halaman sebuah blog, struktur tulisan / artikel yang jelas, tema yang clean (enak dilihat) juga easy to crawl (untuk spider google) dan mempunyai link-link yang berkaitan.
        
      
      section
        img(src="Gambar/blog8.jpg", width="300px")
        h3 SEO OFFPAGE adalah sebuah proses optimasi yang dilakukan dari luar, yaitu dengan mencari backlink dan mempromosikan blog.
       
      

      
      section
        h2 Template Blog yang Baik
        hr
        ul
          li • Memiliki Meta Tag Title Yang Benar
          li • Mempunyai Meta Tag, Meta Keyword Dan Description 
          li • Pengaturan heading H1,H2,H3 Yang Tepat
          li • Mempunyai Breadcumb
          li • Terpasang Releated post
          li • Menambahkan atribut No Follow pada link yang tidak penting
        hr
        ul
        

      section
        h2 Cara Mendapatkan Pengunjung yang banyak
        hr
        ul
          li • Usahakan blog seringan mungkin
          li • Permuda layanan komentar
          li • SEO yang maksimal
          li • Buat Readmore
          li • Buat kesan profesional
          li • Promosikan Blog anda
        
      section
        h2 Menulis Artikel Dengan Standar SEO
        hr
        ul
          li • Pilih judul artikel yang baik
          Li • Pilih URL yang baik
          Li • Gunakan Label Di setiap artikel
          li • Pastikan Memasang Meta description 
          li • Panjang artikel min 500 kata 
          li • Kata kunci minimal 3 kali di ulang
          li • Memasang Gambar 
          li • Memasang link


      section
        h2 Cara Mempromosikan BLOG anda
        ul
          li •	Mencari banyak teman
          li •	Buat FanPage
          li •	Bergabung Dalam group
          li •	Promosi dalam forum
          li •	Blogwalking
          li •	Promosi Blog secara offline

      section
        h2 Sumber penghasilan Blogger
        ul
          li •	Memasang Iklan dari Jasa Advertiser
          li •	Memasang Iklan langsung
          li •	Artikel Berbayar        
          li •	Affiliate Marketer
          li •	Buat Buku 
          li •	Seminar/workshop
		
      section
        h2 Ada Pertanyaan? 
        img(src="Gambar/nunggu.jpg", width="400px")
      
      section
        h2 Terimakasih

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild